.expense{
    border-right: 5px solid red;
}

.income{
    border-right: 5px solid #2ccc;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol-fa {
    margin-left: 0.3rem;
    margin-bottom: 0.2rem;
    position: relative;
}

.symbol-fa:hover {
    color: red;
}

